<!-- Passing and using data with event binding -->
<!-- <label>Server name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p> -->

<!-- two way binding -->
<label>Server name</label>
<input 
    type="text" 
    class="form-control" 
    [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->




<!-- From the Basic 024 Property Binding begin -->
<!-- () uses for events, like [] for propertyes -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- From the Basic 024 Property Binding end -->

<!-- From the Basic  025 Property Binding vs String Interpolation begin -->
<!-- property -->
<!-- <p [innerText]=allowNewServer></p> -->

<!-- string -->
<!-- <p>{{allowNewServer}}</p> -->
<!-- From the Basic  025 Property Binding vs String Interpolation end -->
<!-- <p>{{serverCreationStatus}}</p> -->

<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>
<app-server></app-server>
<app-server></app-server>